@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef1f6;
}

.container {
    width: 100%;
    height:00%;
    max-width: 800px;
    padding: 30px;
    border-radius: 20px;
    background-color: #3e7b9e;
    color: #fff;
    box-shadow: 6px 6px 15px #000;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff99;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.wrapper {
    border: solid 2px rgba(255, 255, 255, .15);
    border-radius: 10px;
    box-shadow: 0px 2px 30px 0 rgba(31, 38, 135, .35);
    padding: 20px 0;
    margin-top: 15px;
    backdrop-filter: blur(1.5px);
    transition: all .3s;
}

.wrapper:hover {
    /* scale: .96; */
    box-shadow: none;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.main div {
    width: 20%;
    text-align: center;
}

.main .number {
    position: relative;
    font-size: 50px;
    color: #000;
    font-weight: 500;
    line-height: 1;
}

.colon {
    color: #000000;
    font-size: 30px;
}

.btns {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
}

.btns button {
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    border: solid 2px rgba(255, 255, 255, 0.20);
    backdrop-filter: blue(1.2px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 8px 35px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
    color: #fff;
    transition: all .3s;
}

.laps {
    position: relative;
    max-height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.laps .lap {
    box-shadow: 0px 3px 3px 0 rgba(255, 255, 255, 0.20);
    margin: 20px;
    width: 90%;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #7ca8c2;
}
.laps .lap :active p{
    color: #fff;
}
.lap p{
    color: black;
    font-weight: 500;
}
.hidden{
    display: none;
}
.btns button:active {
    box-shadow: none;
    color: #000;
    scale: .9;
    border: none;
    background-color: #3e7b9e;

}

@media (max-width:600px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
        padding: 0px 20px;
    }

    .container h2 {
        font-size: 36px;
        color: #000;
        font-weight: 500;
    }
    .outer-wrapper {
        padding: 20px 0px;
    }
    p{
        font-size: 17px;
        font-weight: 700;

    }
    .main div {
        width: 15%;
    }

    .main .number {
        font-size: 50px;
    }

    .main .colon {
        font-size: 16px;
    }
}

#clocksvg{
    width: 3rem;
    height: 3rem;
}